@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: #f5f5f5;
}

.main-chamados {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.left-chamados {
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: rgb(36, 160, 197);
    text-align: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.left-chamados h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.left-chamados p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.left-chamados-image {
    width: 80%;
    max-width: 200px;
}

.right-chamados {
    width: 60%;
    padding: 40px;
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.form-main-chamados {
    width: 100%;
}

.form-main-chamados h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.input-field {
    margin-bottom: 20px;
}

.input-field label {
    font-size: 1rem;
    color: #333;
    display: block;
    margin-bottom: 8px;
}

.input-field input,
.input-field textarea,
.input-field select {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    color: #333;
}

.input-field input::placeholder,
.input-field textarea::placeholder {
    color: #888;
}

.input-field textarea {
    min-height: 150px;
    resize: vertical;
}

.btn-submit {
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    color: white;
    background-color: #36a9cc;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #338fa3;
}
